---
---

<!-- creating the page to list out the products -->
<div id="product-container" class="product-list">
    <div class="no-products">
        <h3>Loading products...</h3>
    </div>
</div>

<script>
    const api = import.meta.env.PUBLIC_API;
    const domain = import.meta.env.DOMAIN;

    // creating the function for getting the cookie value with the given name
    const getCookie = (name) => {
        const cookies = document.cookie.split("; ");
        for (let cookie of cookies) {
            const [cookieName, cookieValue] = cookie.split("=");
            if (cookieName === name) {
                return cookieValue;
            }
        }
        return null; // Return null if the cookie is not found
    };

    // creating a function to fetch the products data
    const makeRequest = async () => {
        const cookie = getCookie("access_token");
        console.log(cookie)

        try {
            // fetching the api and collecting the data with headers which cookie is passed 
            const response = await fetch(api + "/customer/products", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    Cookie: `access_token=${cookie}`,
                },
                credentials: "include",
            });

            if (!response.ok) {
                console.log("response is not fine", response);
                console.log(response.status);
                // if there is no user token redirecting to the login page
                if (response.status == 403) {
                    window.location.href = "http://localhost:4321/login";
                    alert("please login");
                }
                throw new Error(`HTTP error! status: ${response.status}`);
            }

            const data = await response.json();
            const products = data.products;
        // updating the recieved data into a html format
            updateProductList(products);
        } catch (error) {
            console.error("Error fetching products:", error);
            updateProductList([]);
        }
    };

    // creating a function to update the recieved data to a html format
    const updateProductList = (products) => {
        const container = document.getElementById("product-container");

        if (products.length === 0) {
            container.innerHTML = `
                <div class="no-products">
                    <h3>No products available.</h3>
                </div>
            `;
        } else {
            container.innerHTML = products
                .map(
                    (product) => `
                   <a>
                        <div class="product" id="${product._id}">
                            <img src="${product.image}" alt="Product Image">
                            <h4>${product.title}</h4>
                            <p>Price: ${product.price}</p>
                            <button>Buy</button> 
                            <button class="add-to-cart" data-id="${product._id}">Add to Cart</button>
                        </div>
                    </a> 

            `,
                )
                .join("");

            const buttons = document.querySelectorAll(".add-to-cart");
            buttons.forEach((button) => {
                button.addEventListener("click", () => {
                    const productId = button.getAttribute("data-id");
                    addToCart(productId);
                });
            });
        }
    };

    document.addEventListener("DOMContentLoaded", makeRequest);

    // creating a function to let user to add products into the cart
    async function addToCart(productId: string) {
        const cookie = getCookie("access_token");
        const data = {
            product_id: productId,
            quantity: 1,
        };
        try {
            // fetching the api and sending the product data 
            const response = await fetch(api + "/customer/add_to_cart", {
                method: "POST",
                credentials: "include",
                headers: {
                    "Content-Type": "application/json",
                    Cookie: `access_token=${cookie}`,
                },
                body: JSON.stringify(data),
            });

            if (!response.ok) {
                throw new Error(`HTTP Error status : ${response.status}`);
            } else {
                const result = await response.json();
                alert("Item added to the cart");
                console.log(result);
            }
        } catch (error) {
            console.error("Error is ", error);
        }
    }
</script>